@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bvi80w');
  src:  url('../fonts/icomoon.eot?bvi80w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bvi80w') format('truetype'),
    url('../fonts/icomoon.woff?bvi80w') format('woff'),
    url('../fonts/icomoon.svg?bvi80w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon','微軟正黑體' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e913";
}
.icon-back:before {
  content: "\e914";
}

.icon-bed_black_24dp:before {
  content: "\e901";
}
.icon-file_download_black_24dp:before {
  content: "\e906";
}
.icon-restaurant_black_24dp:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-close_black_24dp:before {
  content: "\e900";
}
.icon-menu_black_24dp:before {
  content: "\e902";
}
.icon-tel:before {
  content: "\e903";
}
.icon-earth:before {
  content: "\e904";
}
.icon-facebook-app-symbol:before {
  content: "\e905";
}
.icon-location:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e90a";
}
.icon-x-circle:before {
  content: "\e90b";
}
.icon-line:before {
  content: "\e90c";
}
.icon-link_black_24dp:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-arrow:before {
  content: "\e90f";
}
.icon-arrow_forward:before {
  content: "\e910";
}
.icon-arrow_back:before {
  content: "\e911";
}
.icon-curved-arrow:before {
  content: "\e912";
}
.icon-close:before {
  content: "\f00d";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
